{% extends 'base.html' %}

{% block title %}학생 조회{% endblock %}

{% block content %}
<!-- 상단 로고 및 제목 -->
<div class="white_sec">
    <div class="container">
        <div style="font-size:4rem;">
            <img src="/static/img/logo.png" alt="졸업 모자" class="graduation-cap">
        </div>
        <div class="big_title">학생 조회</div>
    </div>
</div>

<!-- 검색 폼 -->
<div class="form-wrapper">
    <div class="container">
        <form id="studentSearchForm" onsubmit="return redirect_to_result();">
            <div style="font-size:1rem; color:rgb(199, 199, 199)"> 이름, 전공, 학번, 영어인증을 입력해주세요. </div>
            <div class="search_box" style="width:400px">
                
                <label>이름</label>
                <input type="text" id="name" name="name" placeholder="홍길동" style="background-color:rgb(248,249,250)" value="김은서">
                
                <label>전공</label>
                <input type="text" id="major" name="major" placeholder="컴퓨터공학과" style="background-color:rgb(248,249,250);" value="컴퓨터공학전공">
        
                <label for="student_id">학번</label>
                <input type="text" id="student_id" name="student_id" placeholder="2022111222" style="background-color:rgb(248,249,250);" value="2024000000">
        
                <!-- 영어 인증 -->
                <label for="eng">영어인증</label>
                <select id="eng" name="eng">
                    <option value="해당없음" selected>해당없음</option>
                    <option value="TOEIC">TOEIC</option>
                    <option value="TOEFL">TOEFL</option>
                    <option value="TEPS">TEPS</option>
                    <option value="New_TEPS">New TEPS</option>
                    <option value="OPIc">OPIc</option>
                    <option value="TOEIC_Speaking">TOEIC Speaking</option>
                </select>
            </div>
            <button type="submit" class="search_btn">조회하기</button>
        </form>
        
        <script>
            /**
             * 결과 페이지로 리디렉션
             */
            function redirect_to_result() {
                // 학번 입력 가져오기 및 유효성 검사
                const studentId = document.getElementById('student_id').value.trim();
                
                if (!studentId) {
                    alert("학번을 입력하세요.");
                    return false; // 폼 제출 중단
                }
                if (!/^\d+$/.test(studentId)) {
                    alert("학번은 숫자만 입력 가능합니다.");
                    return false; // 폼 제출 중단
                }
        
                // 동적 URL 생성
                const baseUrl = `/result/${studentId}`;
                window.location.href = baseUrl; // 페이지 리디렉션
                return false; // 기본 폼 제출 중단
            }
        </script>
{% endblock %}